---
import '../../styles/global.css';
import '../../styles/elements.css';
import TopBar from '../../components/TopBar.astro';
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>About — Fenghuang</title>
  </head>
  <body>
    <TopBar />
    <div class='page2-layout'>
      <header class='blog-header'>
        <h1 class="page-title">About</h1>
      </header>
    <div class='content-row'>
      <img src='/about-logo.png' class='about-image' />
      <p class='about-text'>
      The earliest accounts of the <span style="color: var(--accent)">Fenghuang</span> appear in the Shanhaijing (the Classic of Mountains and Seas) a text so old its authorship is attributed to myth itself. There, the bird is described not as a creature of flesh, but as a constellation of virtues given form: the head of heaven, the eyes of the sun, the back of the moon.
      But the fenghuang was never meant to be seen. "Its appearance, was a sign that the realm was in harmony — that the ruler was just, the harvest plentiful, the people at peace"  the scholars wrote.
      To see the <span style="color: var(--accent)">Fenghuang</span> was to know, for a fleeting moment, that the world was as it should be.
    </p>
    </div>
    </div>
  </body>
</html>

<style is:global>
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .page2-layout {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 2rem;
    width: 100%;
  }
  .blog-header {
    text-align: center;
    margin-bottom: 3rem;
  }
  .content-row {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    animation: fadeIn 2.5s ease forwards;
  }
  .about-image {
    width: 45%;
    object-fit: cover;
    padding-right: 1.5rem;
  }
  .about-text {
    width: 40%;
    font-size: 16px;
    padding-left: 1.5rem;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(0px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @media (max-width: 768px) {
    .content-row {
      flex-direction: column;
    }
    .about-image {
      width: 100%;
      padding-right: 0;
    }
    .about-text {
      width: 100%;
      padding-left: 0;
    }
  }
</style>
